/*Criando o topo do site*/

#topo{
    width:100%;
    height:120px;
    border:1px solid green;
    background-color:#1673be;
    color:#ffffff ;
    text-transform: uppercase;

}

.abaixodevinte{
    color:blue;
}




/*Exemplo de CSS Externo*/

body{
    background-color:cornsilk;
}

/*pai*/
ul{
      width:100%;
      height:17px; 
      border:1px solid red;
     
}

/*filho*/

ul li{
   
     display: inline;
     padding-left: 80px;
   
     
}
/*neto*/
ul li a{
  
    text-decoration: none;
    color:black;
   
}
ul li a:hover{
  
   
    background-color: coral;
   
}









    



