<<<<<<< HEAD
/* primeira forma*/
body
{background-color: yellow;}
body
{background-color: red;}
=======

/* primeira forma*/
body{
    background-color: red;
}

ul{
    background-color: yellow;
}
>>>>>>> cc0b5d55361b38eed75847192b302896f8beb986
